[General]
font=@Variant(\0\0\0@\0\0\0\x1c\0U\0t\0o\0p\0i\0\x61\0 \0[\0\x61\0\x64\0o\0\x62\0\x65\0]@$\0\0\0\0\0\0\xff\xff\xff\xff\x5\x1\0\x32\x10)

[color]
col1=#5555ff
col2=#00ff7f
text=#55007f

[file]
out=/home/behm/Projects/IBB/WebTest/mail-test/rsc/logo.png
